.legend {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  font-weight: bold;
  color: rgb(255, 195, 240);
  align-items: center;
}

.legend > img {
  width: 40px;
  margin: 0px 5px 0px 35px;
}

@media all and (max-width: 700px) {
  .legend {
    display: none;
  }
}
