#onhover {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  transform: translate(-100%, 0px);
}

#surround:hover span[id='initial'] {
  opacity: 1;
}

#surround:hover span[id='onhover'] {
  opacity: 1;
}
